<h1>Edit your Review</h1>

<%= render 'error_messages' %>

<%= form_for(:item_review, url: item_item_review_path(@item, @item_review), method: :put) do |form| %>
    <% options = [1, 2, 3, 4, 5] %>
    Rating: <%= form.select :rating, options %> </br>
    Comment: <%= form.text_field :comment %> </br>

    <%= form.hidden_field :is_edit, value: '1' %>

    <%= submit_tag("Submit Review") %></br>
<% end %>
