<h1><%= @item.name%> Reviews</h1>

<p>
<table>
    <tr>
        <th>User</th>
        <th>Rating(/5)</th>
        <th>Comment</th>
    </tr>

    <% @item.item_reviews.each do |review| %>
        <tr>
            <td><%= review.user.username %></td>
            <td><%= review.rating %></td>
            <td><%= review.comment %></td>
            <% if review.user == current_user %>
                <td><%= link_to 'Edit Review', edit_item_item_review_path(@item, review) %></td>
                <td><%= link_to 'Delete Review', item_item_review_path(@item, review), method: :delete %></td>
            <% end %>
        </tr>
    <% end %>
</table>

<%= link_to 'Back to Item Description', item_path(@item) %>

</p>
