<h1>Write a Review</h1>

<%= render 'error_messages' %>

<%= form_for(:item_review, url: item_item_reviews_path(@item), method: :post) do |form| %>
    <% options = [1, 2, 3, 4, 5] %>
    Rating: <%= form.select :rating, options %> </br>
    Comment: <%= form.text_field :comment %> </br>

    <%= submit_tag("Submit Review") %></br>
<% end %>
