<h1>Borrow Item</h1>

<% if @borrow.errors.any? %>
    <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
            <% @borrow.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>


<table>
	<tr>
		<th>Item</th>
		<th>Description</th>
		<th>Owner</th>
	</tr>
	<tr>
		<td><%= @item.name %></td>
		<td><%= @item.description %></td>
		<td><%= @item.user.username%></td>
	</tr>
</table>
</p>

<%=form_for(:borrow, url: item_borrows_path(@item), method: :post) do |form|%>
    Start Day: <%=form.date_field :start_date%></br>
    End Day: <%=form.date_field :end_date%></br>
    <%=submit_tag("Borrow Item")%></br>
<%end%>
