<!DOCTYPE html>
<html>
  <head>
    <title>BackOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDw0kMkVGzNTppK2U4lsn_65sakVTCR1Mc", async: true, 'data-turbolinks-eval': false %>
    <%= include_gon %>
  </head>

  <%= render 'layouts/navigation' %>
  <body>
    <%= yield %>
  </body>
  <%= render 'layouts/footer' %>
  
</html>
