<!DOCTYPE html>
<div class = "container">

  <br><br><h1 align = "center">Change Password</h1><br><br>

  <% if @user.errors.any? %>
    <div class = "row">
      <div class = "col-xs-8 col-xs-offset-2">
        <div class = "panel panel-danger">
          <div class = "panel-heading">
            <h2 class="panel-title">
              <%= pluralize(@user.errors.count, "error") %>
              prohibitied this user to be created:
            </h2>
            <div class = "panel-body">
              <ul>
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>


  <%= form_with(model: @user, :html => {class:"form-horizontal", role: "form"}, local: true) do |form| %>

    <div class = 'row'>
      <div class = 'col-xs-12'>

        <div class = "form-group">
          <div class = "control-label col-sm-2">
            <%= form.label :password %>
          </div>
          <div class = "col-sm-8">
            <%= form.password_field :password, class:"form-control" %>
          </div>
        </div>

        <div class = "form-group">
          <div class = "control-label col-sm-2">
            <%= form.label :password_confirmation %>
          </div>
          <div class = "col-sm-8">
            <%= form.password_field :password_confirmation, class:"form-control" %>
          </div>
        </div>
        <div class = "form-group">
          <div class = "col-sm-offset-2 col-sm-10">
            <%= form.submit "Change Password", class: 'btn btn-primary btn-lg'%>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


