<% if User.where(:admin => true).all.count == 0%>
<table class="table table-striped">
<thead>
  <tr>
    <th colspan="1" class="page-header" align = "center">
      <h3>Users</h3>
    </th>
  </tr>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Action</th>
  </tr>
</thead>
<tbody>
  <% @users.each do |user| %>
    <% if user.admin == false %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td>
          <%= link_to "Add to Admin", ini_path(id_param: user.id), class: "btn btn-xs btn-success" %>
        </td>
      </tr>
    <% else %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td>
          <span class = "label label-default">Added</span>
        </td>
      </tr>
    <% end %>
  <% end %>  
</tbody>
</table>
<% else %>
  <h1>Following Accounts are already admins</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <% if user.admin == true %>
          <tr>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
          </tr>
        <% end %>
      <% end %>  
    </tbody>
  </table>
<% end %>
