<div class = "container">

<% if Friendship.where(:friend_id => current_user.id).all.count > 0 %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th colspan="3" class="page-header">
					<h2>My Followers</h2>
				</th>
			</tr>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% @followers.each do |follower| %>
				<tr>
          <td>
            <%= User.find(follower.user_id).username %>
          </td>
          <td>
            <%= User.find(follower.user_id).email %>
          </td>
					<td>                 
            <%= link_to "Profile", user_path(User.find(follower.user_id)), class: "btn btn-xs btn-primary" %> 

            <%= link_to "Items", show_items_path(id_param: follower.user_id), class: "btn btn-xs btn-success" %>
            <% if Friendship.where(:user_id => current_user.id, :friend_id => follower.user_id).all.count > 0%>   
              <span class = "label label-primary">Already Followed</span>
            <% else %>
              <%= link_to "Follow", add_follower_path(user: current_user, friend: User.find(follower.user_id)), class: "btn btn-xs btn-success", method: :post %>
            <% end %>
          </td>  
				</tr>
			<% end %>
		</tbody>
	<table>
<% else %>
	<div class = "row col-lg-12">
		<h2>You don't have any follower yet!</h2>
	</div>	
<%end%>