<div class = "container">

<%= render 'friends/lookup' %>

<% if current_user.friendships.size > 0 %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th colspan="3" class="page-header">
					<h2>My Followings</h2>
				</th>
			</tr>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% current_user.friends.each do |friend| %>
				<tr>
          <td>
            <%= friend.username %>
          </td>
          <td>
            <%= friend.email %>
          </td>
					<td>                 
            <%= link_to "Profile", user_path(friend), class: "btn btn-xs btn-primary" %> 

            <%= link_to "Items", show_items_path(id_param: friend.id), class: "btn btn-xs btn-success" %>
                
            <%= link_to "Unfollow", friendship_path(friend), method: :delete,
              data: { confirm: "Are you sure?" }, class: "btn btn-xs btn-danger" %>
					</td>  
				</tr>
			<% end %>
		</tbody>
	<table>
<% else %>
	<div class = "row col-lg-12">
		<h2>You don't have any friends yet!</h2>
	</div>	
<%end%>

<% if current_user.provider == "facebook" %>
  <div class = "row col-lg-12">
    <h2>You Facebook Friends that also use this website</h2>
  </div>
<% end %>
</div>