<p><%= link_to 'Home', root_path %></p>

<h1>Sign Up</h1>
<%= form_with model: @user, local: true do |form| %>

  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %>
    <%= form.text_field :username %>
  </p>

  <p>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </p>

  <p>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </p>

  <%= form.submit "Sign Up" %>

  <%=link_to "Back to users index page", users_path %>

<% end %>
