<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<p>Username: <%= @user.username %> </p>
		<p>Email: <%= @user.email %> </p>

    <p><%=link_to "View profile", user_profile_path(@user) %></p>
    <p><%=link_to "All users", users_path %></p>
	<p><%=link_to "Transaction History", user_transactions_path(@user) %></p>
	<p><%=link_to "Pending Transactions", user_pending_transactions_path(@user) %></p>
	</body>
</html>
