<div class="container">

  <h1 align="center"><%= "Category: " + @tag.name %></h1>

    <div class="row">

      <%= link_to "Edit Category Name", edit_tag_path(@tag) %></span>

    </div>

  <% @tag.items.each do |item|%>
    <tr>
      <td><%= item.name %></td>
      <td><%= truncate(item.description, length: 10) %></td>
      <td><%= item.user.username%></td>
      <td><%= link_to 'Show', item_path(item) %></td>
      <% if logged_in? && current_user == item.user %>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Delete', item_path(item), method: :delete, data: {confirm: "Are you sure?"} %></td>
      <% end %>

      <% if current_user!=item.user%>
        <% query_params = {item_id: item.id} %>
        <td><%= link_to('Request to Borrow', new_transaction_path(query_params))%></td>
      <% end %>
    </tr>
    <br/>

  <% end %>
</div>