<%= form_with model: @item, local: true do |form| %>

  <% if @item.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= @item.user.username%><br/>

  <%= form.label :name %>
  <%= form.text_field :name%><br/>

  <%= form.label :description %>
  <%= form.text_area :description%><br/>

  <%= form.label :item_pictures %>
  <%= form.file_field :item_pictures, multiple: true%>

  <%= form.label :place_id %><br/>
  <%= form.select :place_id, options_for_select(Place.select{|p| p.user = current_user}.map{|s| [s.address, s.id]}) %>

  <output id="list"></output>


  <%= form.submit "Register" %>
<%end %>
