<div class = "container">



  <% if @item.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with model: @item, :html => {class:"form-horizontal", role: "form"}, local: true do |form| %>

  <div class = 'row'>
    <div class = 'col-xs-12'>

      <div class = "form-group">
        <div class = "control-label col-sm-2">
          <%= form.label :name %>
        </div>
        <div class = "col-sm-8">
          <%= form.text_field :name, class:"form-control" %>
        </div>
      </div>

      <div class = "form-group">
        <div class = "control-label col-sm-2">
          <%= form.label :description %>
        </div>
        <div class = "col-sm-8">
          <%= form.text_area :description, class:"form-control" %>
        </div>
      </div>

      <div class = "form-group">
        <div class = "control-label col-sm-2">
          <%= form.label :item_pictures %>
        </div>
        <div class = "col-sm-8">
          <%= form.file_field :item_pictures, multiple: true, class:"form-control" %>
        </div>
      </div>

      <div class = "form-group">
        <div class = "control-label col-sm-2">
          <%= form.label :place_id %>
        </div>
        <div class = "col-sm-8">
          <%= form.select :place_id, options_for_select(Place.select{|p| p.user = current_user}.map{|s| [s.address, s.id]}), class:"form-control" %>
        </div>
      </div>


      <div class = "form-group">
        <div class="row">
          <div class = "col-sm-offset-2 col-sm-10">
            <%  Tag.all.each do |role| %>
              <li>
                <%= check_box_tag 'tag_ids[]', role.id %>
                <%= role.name %>
              </li>
            <% end %>
          </div>
        </div>
      </div>



      <div class = "form-group">
        <div class = "col-sm-offset-2 col-sm-10">
          <%= form.submit "Register", class: 'btn btn-primary btn-lg'%>
        </div>
      </div>



    </div>
  </div>
<% end %>

</div>