<%= form_with model: @item, local: true do |form| %>

  <% if @item.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= @item.user.username%><br/>

  <%= form.label :name %>
  <%= form.text_field :name%><br/>

  <%= form.label :description %>
  <%= form.text_area :description%><br/>

  <style>
    .thumb {
      height: 75px;
      border: 1px solid #000;
      margin: 10px 5px 0 0;
    }
  </style>

  <%= form.label :item_pictures %>
  <%= form.file_field :item_pictures, multiple: true%>4

  <output id="list"></output>

  <script>
      function handleFileSelect(evt) {

          //Remove currently existing thumbnails
          var list_element = document.getElementById("list");
          while(list_element.firstChild){
              list_element.removeChild(list_element.firstChild);
          }

          var files = evt.target.files; // FileList object

          // Loop through the FileList and render image files as thumbnails.
          for (var i = 0, f; f = files[i]; i++) {

              // Only process image files.
              if (!f.type.match('image.*')) {
                  continue;
              }

              var reader = new FileReader();

              // Closure to capture the file information.
              reader.onload = (function(theFile) {
                  return function(e) {
                      // Render thumbnail.
                      var span = document.createElement('span');
                      span.innerHTML = ['<img class="thumb item_pic_preview" src="', e.target.result,
                          '" title="', escape(theFile.name), '"/>'].join('');
                      document.getElementById('list').insertBefore(span, null);
                  };
              })(f);

              // Read in the image file as a data URL.
              reader.readAsDataURL(f);
          }
      }

      document.getElementById('item_item_pictures').addEventListener('change', handleFileSelect, false);
  </script>

  <%= form.submit "Register" %>
<%end %>