<h1><%= @item.name%></h1>

<body>
	<%= @item.description%>
</body><br/><br/>
<%= link_to 'Review this Item', new_item_item_review_path(@item) %></br>
<%= link_to 'View Item Reviews', item_item_reviews_path(@item) %></br>

<%= link_to 'back to items', items_path %>
<% if logged_in? && current_user == @item.user %>
	<%= link_to 'Edit', edit_item_path(@item) %>
	<%= link_to 'Delete', item_path(@item), method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>

<p>
	<div>ITEM SCHEDULE</div>
    <%= month_calendar attribute: :start_date, end_attribute: :end_date, events: @ongoing_item_transactions do |date, transactions| %>
        <%= date.day %>

        <% transactions.each do |transaction| %>
            <div>
                <%= transaction.borrower.username %>
            </div>
        <% end %>

    <% end %>
</p>
