<h1><%= @item.name%></h1>

<body>
	<%= @item.description%>
<br/>

  <div>
    <%=@item.item_pictures.length %>
  </div>
<div>
  <%= 0.upto @item.item_pictures.length-1 do |index|%>
    <%= image_tag @item.item_pictures_urls[index], class: "item_pic" %>
  <% end %>
</div>


</body><br/><br/>
<div>Average Rating: <%= @item.get_average_rating %>/5</div>
<%= link_to 'View Item Reviews', item_item_reviews_path(@item) %></br>

<%= link_to 'back to items', items_path %></br>
<% if current_user != @item.user %>
	<% if @all_item_borrowers.include?(current_user)%>
		<%= link_to 'Review this Item', new_item_item_review_path(@item) %></br>
	<% end %>
	<% query_params = {item_id: @item.id} %>
	<%= link_to 'Request to Borrow', new_transaction_path(query_params) %></br>
<% end %>
<% if logged_in? && current_user == @item.user %>
	<%= link_to 'Edit', edit_item_path(@item) %>
	<%= link_to 'Delete', item_path(@item), method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
