<h1>Edit Transaction</h1>

<% if @transaction.errors.any? %>
    <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
            <% @transaction.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>


<table>
	<tr>
		<th>Item</th>
		<th>Description</th>
		<th>Lender</th>
	</tr>
	<tr>
		<td><%= @transaction.item.name %></td>
		<td><%= @transaction.item.description %></td>
		<td><%= @transaction.lender.username %></td>
	</tr>
</table>
</p>

<%=form_for(:transaction, url: transaction_path, method: :put) do |form|%>
    Start Day: <%= form.date_field :start_date %></br>
    End Day: <%= form.date_field :end_date %></br>
    <%= form.hidden_field :redirect, value: pending_transactions_path %>
    <%=submit_tag("Edit request to borrow item")%></br>
<%end%>
