<h1>TRANSACTION HISTORY</h1>


<p>
<div>BORROW HISTORY</div>
<table>
	<tr>
		<th>Item</th>
		<th>Description</th>
		<th>Lender</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Is Returned?</th>
	</tr>
    <% @borrow_transactions.each do |transaction|%>
        <tr>
            <td><%= transaction.item.name %></td>
            <td><%= transaction.item.description %></td>
            <td><%= transaction.lender.username%></td>
            <td><%= transaction.start_date%></td>
            <td><%= transaction.end_date%></td>
            <td><%= transaction.isReturned%></td>
        </tr>
    <% end %>
</table>
</p>



<p>
<div>LEND HISTORY</div>
<table>
	<tr>
		<th>Item</th>
		<th>Description</th>
		<th>Borrower</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Is Returned?</th>
	</tr>
    <% @lend_transactions.each do |transaction|%>
        <tr>
            <td><%= transaction.item.name %></td>
            <td><%= transaction.item.description %></td>
            <td><%= transaction.borrower.username%></td>
            <td><%= transaction.start_date%></td>
            <td><%= transaction.end_date%></td>
            <td><%= transaction.isReturned%></td>
        </tr>
    <% end %>
</table>
</p>


<div>
<%=link_to 'back to show user', user_path(@user)%>
</div>
