<h1>MANAGE YOUR LENT ITEMS</h1>


<p>
<div>ITEMS YOU ARE CURRENTLY LENDING</div>
<table>
	<tr>
		<th>Item</th>
		<th>Description</th>
		<th>Borrower</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Is Returned?</th>
	</tr>
    <% @current_lend_transactions.each do |transaction|%>
        <tr>
			<td><%= link_to "#{transaction.item.name}", item_path(transaction.item) %></td>
            <td><%= transaction.item.description %></td>
			<td><%= link_to "#{transaction.borrower.username}", user_path(transaction.borrower) %></td>
            <td><%= transaction.start_date%></td>
            <td><%= transaction.end_date%></td>
            <td><%= transaction.isReturned%></td>
			<% params = {isReturned: 1, redirect: lend_transactions_path, send_notification: 0} %>
			<td><%= link_to 'Mark Item as Returned', transaction_path(transaction, transaction: params, item_id: transaction.item), method: :put %></td>
        </tr>
    <% end %>
</table>
</p>


<p>
<div>ITEMS YOU WILL LEND IN THE FUTURE</div>
<table>
	<tr>
		<th>Item</th>
		<th>Description</th>
		<th>Borrower</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Is Returned?</th>
	</tr>
    <% @future_lend_transactions.each do |transaction|%>
        <tr>
			<td><%= link_to "#{transaction.item.name}", item_path(transaction.item) %></td>
            <td><%= transaction.item.description %></td>
			<td><%= link_to "#{transaction.borrower.username}", user_path(transaction.borrower) %></td>
            <td><%= transaction.start_date%></td>
            <td><%= transaction.end_date%></td>
            <td><%= transaction.isReturned%></td>
			<% params = {redirect: lend_transactions_path} %>
			<td><%= link_to 'cancel transaction', transaction_path(transaction, transaction: params), method: :delete %></td>
        </tr>
    <% end %>
</table>
</p>

<%= render 'calendar', list_transactions: [*@current_lend_transactions, *@future_lend_transactions], show: 'borrowers&items' %>


<div>
<%=link_to 'home', root_path%>
</div>
