<h1>Borrow Item</h1>

<% if @transaction.errors.any? %>
    <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
            <% @transaction.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>


<table>
	<tr>
		<th>Item</th>
		<th>Description</th>
		<th>Owner</th>
	</tr>
	<tr>
		<td><%= @item.name %></td>
		<td><%= @item.description %></td>
		<td><%= @item.user.username %></td>
	</tr>
</table>
</p>

<% query_params = {item_id: @item.id} %>
<%=form_for(:transaction, url: transactions_path(query_params), method: :post) do |form|%>
    Start Day: <%= form.date_field :start_date %></br>
    End Day: <%= form.date_field :end_date %></br>
    <%= submit_tag("Request to borrow item") %></br>
<%end%>

<p>
    <%= month_calendar attribute: :start_date, end_attribute: :end_date, events: @ongoing_item_transactions do |date, transactions| %>
        <%= date.day %>

        <% transactions.each do |transaction| %>
            <div>
                <%= transaction.borrower.username %>
            </div>
        <% end %>

    <% end %>
</p>
