<h1>Borrow Item</h1>

<%= render 'error_messages' %>

<table>
	<tr>
		<th>Item</th>
		<th>Description</th>
		<th>Owner</th>
	</tr>
	<tr>
		<td><%= @item.name %></td>
		<td><%= @item.description %></td>
		<td><%= @item.user.username %></td>
	</tr>
</table>
</p>

<% query_params = {item_id: @item.id} %>
<%=form_for(:transaction, url: transactions_path(query_params), method: :post) do |form|%>
    Start Day: <%= form.date_field :start_date %></br>
    End Day: <%= form.date_field :end_date %></br>
    <%= submit_tag("Request to borrow item") %></br>
<%end%>

<%= render 'calendar', list_transactions: @ongoing_item_transactions, show: 'borrowers' %>
