
<div class = "container">
  <%= form_with model: [@user, @user.profile], :html => {class:"form-horizontal", role: "form"}, local: true do |form| %>

    <div class = 'row'>
      <div class = 'col-xs-12'>

        <div class = "form-group">
          <div class = "control-label col-sm-2">
            <%= form.label :first_name %>
          </div>
          <div class = "col-sm-3">
            <%= form.text_field :first_name, class:"form-control" %>
          </div>
          <div class = "control-label col-sm-2">
            <%= form.label :last_name %>
          </div>
          <div class = "col-sm-3">
            <%= form.text_field :last_name, class:"form-control" %>
          </div>
        </div>

        <br/>

        <div class = "form-group">
          <div class = "control-label col-sm-2">
            <%= form.label :date_of_birth %>
          </div>
          <div class = "col-sm-3">
            <%= form.date_field :date_of_birth, class:"form-control" %>
          </div>
          <div class = "control-label col-sm-2">
            <%= form.label :phone_number %>
          </div>
          <div class = "col-sm-3">
            <%= form.phone_field :phone_number, class:"form-control" %>
          </div>
        </div>

        <br/>

        <div class = "form-group">
          <div class = "control-label col-sm-2">
            <%= form.label :profile_picture %>
          </div>
          <div class = "col-sm-5">
            <%= form.file_field :profile_picture, class:"form-control" %>
          </div>
        </div>

        <br/>

        <div class = "form-group">
          <div class = "col-sm-offset-2 col-sm-10">
            <%= form.submit "Save", class: 'btn btn-primary btn-lg'%>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>