<div class = "container item_form">

  <% if @item.errors.any? %>
    <div class = "row">
      <div class = "col-xs-8 col-xs-offset-2">
        <div class = "panel panel-danger">
          <div class="panel-heading">
            <h2 class = "panel-title">
              The form contains <%= pluralize(@item.errors.count, "error") %>.
            </h2>
            <div class = "panel-body">
              <ul>
                <% @item.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%= form_with model: @item, :html => {class:"form-horizontal", role: "form"}, local: true do |form| %>

  <div class = 'row'>
    <div class = 'col-xs-12'>

      <div class = "form-group">
        <div class = "control-label col-sm-2">
          <%= form.label :name %>
        </div>
        <div class = "col-sm-8">
          <%= form.text_field :name, class:"form-control" %>
        </div>
      </div>

      <div class = "form-group">
        <div class = "control-label col-sm-2">
          <%= form.label :description %>
        </div>
        <div class = "col-sm-8">
          <%= form.text_area :description, class:"form-control" %>
        </div>
      </div>

      <div class = "form-group">
        <div class = "control-label col-sm-2">
          <%= form.label :item_pictures %>
        </div>
        <div class = "col-sm-8">
          <%= form.file_field :item_pictures, multiple: true, class:"form-control" %>
          <output id="list"></output>
        </div>
      </div>


      <div class = "form-group">
        <div class = "control-label col-sm-2">
          <%= form.label :place_id %>
        </div>
        <div class = "col-sm-8">
          <%= form.collection_select(:place_id, Place.select{|p| p.user == current_user}, :id, :address, {:include_blank => ("Please select an address"), hide_label: true}, class: "form-control") %>
          <% if Place.select{|p| p.user == current_user}.length == 0 %>
            <small class="form-text text-muted">You don't have any addresses. <%= link_to 'Create an address', my_places_path %></small>
          <% end %>
        </div>
      </div>


      <div class = "form-group">
        <div class="row">
          <div class = "col-sm-offset-2 col-sm-10">
            <%  Tag.all.each do |role| %>
              <li>
                <% if @item.tags.include?role %>
                  <%= check_box_tag 'tag_ids[]', role.id, :checked => true %>
                <% else %>
                  <%= check_box_tag 'tag_ids[]', role.id %>
                <% end %>
                <%= role.name %>
              </li>
            <% end %>
          </div>
        </div>
      </div>



      <div class = "form-group">
        <div class = "col-sm-offset-2 col-sm-10">
          <%= form.submit "Register", class: 'btn btn-primary btn-lg'%>
        </div>
      </div>



    </div>
  </div>
<% end %>
</div>


<script>
    function handleFileSelect(evt) {
        //Remove currently existing thumbnails
        var list_element = document.getElementById("list");
        while(list_element.firstChild){
            list_element.removeChild(list_element.firstChild);
        }
        var files = evt.target.files; // FileList object
        // Loop through the FileList and render image files as thumbnails.
        for (var i = 0, f; f = files[i]; i++) {
            // Only process image files.
            if (!f.type.match('image.*')) {
                continue;
            }
            var reader = new FileReader();
            // Closure to capture the file information.
            reader.onload = (function(theFile) {
                return function(e) {
                    // Render thumbnail.
                    var span = document.createElement('span');
                    span.innerHTML = ['<img class="thumb item_pic_preview" src="', e.target.result,
                        '" title="', escape(theFile.name), '"/>'].join('');
                    document.getElementById('list').insertBefore(span, null);
                };
            })(f);
            // Read in the image file as a data URL.
            reader.readAsDataURL(f);
        }
    }
    document.getElementById('item_item_pictures').addEventListener('change', handleFileSelect, false);
</script>
