<%= form_for @place do |f| %>

  <% if @place.errors.any? %>
    <div class = "row">
      <div class = "col-xs-8 col-xs-offset-2">
        <div class = "panel panel-danger">
          <div class="panel-heading">
            <h2 class = "panel-title">
              The form contains <%= pluralize(@place.errors.count, "error") %>.
            </h2>
            <div class = "panel-body">
              <ul>
                <% @place.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <fieldset class="form-group">
    <%= f.label :address, 'Address' %>
    <div style="display: flex;">
    <%= f.text_field :address, class: "form-control" %>
    <%= f.submit 'Add!', class: 'btn btn-primary submit_button' %>
    </div>
    <small class="text-muted">You can find your location in the map below. You can also enter IP. Your IP is <%= request.ip %></small>
  </fieldset>

  <div id="form_map"></div>
<% end %>
